*,  
*::before,  
*::after {  
  box-sizing: border-box;  
  padding: 0;  
  margin: 0;  
  max-width: 100%;  
}  
/*--------------------------------------------------*/
/*Header*/  
header {  
  background-color: rgb(26, 26, 152);  
  height: 100px; 
 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 20px;
  padding: 0 62px; 
}  
  
header .container { 
  max-width: none; 
  padding-left: 0; 
  padding-right: 0; 
  margin-left: 0; 
  margin-right: 0; 
} 
 
header a {  
  color: white;  
  text-decoration: none; 
}  
  
.start-button {  
  font-weight: 600;  
  text-transform: uppercase; 
} 
.start-button:hover {
  text-decoration: underline;
}
.links a:hover {
  text-decoration: underline;
}

 
header .links { 
  display: flex; 
  align-items: center; 
  gap: 65px; 
  list-style: none; 
} 
 
header .links a { 
  color: white; 
  text-decoration: none; 
} 
/*-----------------------------------------------------*/
/*index*/
body {  
  font-family: "Roboto", sans-serif;   
}   

.title {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100px;  
}  
  
.links {  
  display: flex;  
  justify-content: space-around;  
}

.photos {  
  width: 450px;  
  height: 250px;  
  display: block;  
  margin-left: auto;  
  margin-right: auto;
  margin-bottom: -15px;  
  margin-top: -20px;
}  

.bild-container {  
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  gap: 48px; 
  margin-top: 80px; 
  list-style: none;
}
  
.bild-container a {
  width: 300px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.bild-container img {  
   width: 300px;
    height: 170px;
    object-fit: cover;
    border: 1px solid black;
    
}


.bild-container p {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}
/*----------------------------------------------------*/
/*Footer*/  
footer {  
  background-color: rgb(26, 26, 152);  
  padding: 20px;  
  height: 100px;
  margin-top: 40px;
}  
  
.footer-container {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  color: white;  
}  
  
.footer-container article { 
  flex: 1; 
} 
 
.openingHours { 
  text-align: left; 
} 
 
.tonyQuote { 
  text-align: center; 
  font-style: italic; 
} 
 
.adress { 
  text-align: right; 
}  
  
.footer-container h2 {  
  color: white;  
  margin-bottom: 10px;  
  font-size: 17px; 
}  
  
.footer-container p {  
  color: white;  
  font-size: 12px; 
}  
  
.container {  
  max-width: 1200px;  
  padding-left: 16px;  
  padding-right: 16px;  
  margin-left: auto;  
  margin-right: auto;  
}  


/*-----------------------------------------------------*/
/*Products*/

.productImg {
  width: 300px;
  height: auto;
}
.productName {
text-align: left; 
}
.price {
text-align: center; 
}

.Cart {
text-align: right; 
}
.products {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.product {
    width: 220px;
}

.product  img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 20px;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.productInfo img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border: none
}

.productInfo h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.productInfo img {
  margin-top: -5px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;

}

.product select {
  width: 300px;
  height: 25px;
  font-size: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 5px;

}

.product p {
    font-size: 10px;
    margin-bottom: 5px;
}

/*------------------------------------------------------------*/
/*Contact*/
.kontakt {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100px;  
}
.name{  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100px;  
}
.name h2{
  width: 160px;
  flex-shrink: 0;
  font-size: 12px;
  margin-top: 1000;
  font-weight: 500;
}
.Email input{
   width: 300px;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: -10px;
  margin-top: -100px;
}
.name input{
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: -100px;
  margin-top: -100px;
}

.message input{
    width: 300px;
  height: 100px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: -55px;
}

.Email {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100px;  
}
.Email h2{
  width: 160px;
  flex-shrink: 0;
  margin-top: -85px;
  font-size: 12px;
  font-weight: 500;
}
.message{  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: -100px;  
}
.message h2{
  width: 160px;
  flex-shrink: 0;
  margin-top: -100px;
  font-size: 12px;
  font-weight: 500;
}
.rating input{
  width: 100px;
  height: 20px;
  padding: -10px 10px;
  margin-bottom: -20px;
  margin-top: -100px;
  margin-right: -20px;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 500;
}

.rating{  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100px;  
  font-size: 12px;
  font-weight: 500;
}
.rating p{
  width: 160px;
  flex-shrink: 0;
  margin-top: -85px;
  font-size: 12px;
  font-weight: 500;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin-top: -5px
}

.button {
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(26, 26, 152);
  color:white;
  margin-left: 560px;
}
button:hover{
  background-color: rgb(13, 13, 132);
  color: rgb(189, 186, 186);
}

/*-----------------------------------------------------*/
/*Mobile*/

/*Header Mobile*/
@media (max-width: 768px) {
  header { 
  height: 150px; 
  padding-top: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px; 
  gap: 15px;
  width: 100%;
}  
  
header .container { 
  max-width: none; 
  padding-left: 0; 
  padding-right: 0; 
  margin-left: 0; 
  margin-right: 0; 
} 
 
header a {  
  color: white;  
  text-decoration: none; 
  gap: 15px;
  font-size: 20px;
}  
.start-button {  
  font-weight: 600;  
  text-transform: uppercase; 
  font-size: 25px;
} 
header .links {
    display: flex;
    align-items: center;
    gap: 15px;
}
/*----------------------------------------------------------------*/
/*Index Mobile*/
/*----------------------------------------------------------------------*/
/*Footer Mobile*/
footer {  
  background-color: rgb(26, 26, 152);  
  padding: 20px;  
  padding-left: 10px;
  padding-right: 10px;
  height: 140px;
  margin-top: 40px;
}  
  
.footer-container {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  color: white;  
}  
  
.footer-container article { 
  flex: 1; 
} 
 
.openingHours { 
  margin-bottom: 60px;
  text-align: left; 
} 
 
.tonyQuote { 
  margin-bottom: 20px;
  text-align: center; 
  font-style: italic; 
} 
 
.adress { 
  margin-bottom: 60px;
  text-align: right; 
}  
  
.footer-container h2 {  
  color: white;  
  margin-bottom: 10px;  
  font-size: 13px; 
}  
  
.footer-container p {  
  color: white;  
  font-size: 10px; 
}  
  
.container {  
  max-width: 1200px;  
  padding-left: 16px;  
  padding-right: 16px;  
  margin-left: auto;  
  margin-right: auto;  
} 
/*------------------------------------------------------------------------*/
/*Index Mobile*/ 
body {  
  font-family: "Roboto", sans-serif;   
}   

.title {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100px;  
  font-size: 30px;
}  
  
.links {  
  display: flex;  
  justify-content: space-around;  
}

.photos {  
  width: 325px;  
  height: 200px;  
  display: block;  
  margin-left: auto;  
  margin-right: auto;
  margin-bottom: -15px;  
  margin-top: 10px;
}  

.bild-container {  
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  gap: 48px; 
  margin-top: 80px; 
  list-style: none;
}
  
.bild-container a {
  width: 300px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.bild-container img {  
   width: 250px;
    height: 150px;
    object-fit: cover;
    border: 1px solid black;
    
}


.bild-container p {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}
}
